[submodule "App/Vendor/STPrivilegedTask"]
	path = App/Vendor/STPrivilegedTask
	url = https://github.com/sveinbjornt/STPrivilegedTask.git
[submodule "App/Vendor/DateTools"]
	path = App/Vendor/DateTools
	url = https://github.com/MatthewYork/DateTools.git
[submodule "App/Vendor/LaunchAtLoginController"]
	path = App/Vendor/LaunchAtLoginController
	url = https://github.com/ksuther/LaunchAtLoginController--with-ARC-.git
[submodule "App/Vendor/AHProxySettings"]
	path = App/Vendor/AHProxySettings
	url = https://github.com/eahrold/AHProxySettings.git
[submodule "App/Vendor/NSStringEmojize"]
	path = App/Vendor/NSStringEmojize
	url = https://github.com/diy/NSStringEmojize.git
[submodule "App/Vendor/Sparkle"]
	path = App/Vendor/Sparkle
	url = https://github.com/sparkle-project/Sparkle.git
