.DS_Store
.idea
app/frontend/package.json.md5
xbarapp.com/public/docs/
tools/sitegen/sitegen
app/node_modules
app/build/bin
pkg/update/testarea
xbarapp.com/node_modules
xbarapp.com/public/docs
xbarapp.com/package-lock.json
app/build/darwin/info.plist
app/frontend/package-lock.json
app/build/.DS_Store
app/.DS_Store
xbarapp.com/public/.DS_Store
tools/sitegen/.version
app/.version
xbarapp.com/.version
xbarapp.com/xbarappcom
xbarapp.com/version.gen.go
tools/bloggen/.version
pkg/.DS_Store
