[submodule "App/Vendor/STPrivilegedTask"]
	path = App/Vendor/STPrivilegedTask
	url = https://github.com/sveinbjornt/STPrivilegedTask.git
[submodule "App/Vendor/DateTools"]
	path = App/Vendor/DateTools
	url = https://github.com/MatthewYork/DateTools.git
[submodule "App/Vendor/LaunchAtLoginController"]
	path = App/Vendor/LaunchAtLoginController
	url = https://github.com/ksuther/LaunchAtLoginController--with-ARC-.git
[submodule "App/Vendor/AHProxySettings"]
	path = App/Vendor/AHProxySettings
	url = https://github.com/eahrold/AHProxySettings.git
[submodule "App/Vendor/create-dmg"]
	path = App/Vendor/create-dmg
	url = https://github.com/andreyvit/create-dmg.git
