.DS_Store
.idea
app/build
app/frontend/package.json.md5
xbarapp.com/public/docs/
tools/sitegen/sitegen
app/node_modules
app/build
pkg/update/testarea
xbarapp.com/node_modules
xbarapp.com/public/docs
xbarapp.com/package-lock.json
app/assets/mac/info.plist
app/frontend/package-lock.json
.DS_Store
app/assets/.DS_Store
app/.DS_Store
xbarapp.com/public/.DS_Store
app/assets/mac/info.plist
