language: objective-c
install: make setup
osx_image: xcode8.3
script: make ci
before_deploy: make release
deploy:
  provider: releases
  api_key:
    secure: $API_KEY
  file: BitBar-beta.zip
  on:
    tags: true