/*! xbar styles */

html {
  min-height: 100%;
}
body {
  min-height: 100vh;

  background: #0f0c29; /* fallback for old browsers */
  background-image: linear-gradient(to top, #003586 0%, #270718 100%);
  overflow-x: hidden;
}

/* from https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/ */
.nice-wrapping {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

header {
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.1) 10%,
    rgba(0, 0, 0, 0.3) 80%,
    rgba(0, 0, 0, 0.6) 100%
  );
}
.fancy-font {
  font-family: "Bodoni Moda", serif;
}
.fancy-font.text-6xl {
  line-height: 1.2;
}
.hyphens-auto {
  hyphens: auto;
}
strong.bg-brand-text {
  display: inline-block;
  color: white;
}
.tiny-photo {
  display: inline-block;
  background-color: white;
  transform: rotate(-10deg);
  border-radius: 3px;
  margin-top: -20px;
}
.tiny-photo img {
  max-width: 32px;
  max-height: 32px;
  margin-left: 32px;
}
.tiny-photo img.primary {
  max-width: 64px;
  max-height: 64px;
  margin-left: 0px;
}
.light-background {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.15) 100%
  );
}
#inner-space {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
}
#menubar {
  background-color: rgba(255, 255, 255, 0.2);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  width: 100%;
  font-size: 14px;
  z-index: 100;
}
#menubar a {
  padding: 2px 8px;
}
#menubar a.selected {
  background-color: rgba(255, 255, 255, 0.15);
}
.plugin-image {
  max-height: 150px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
