@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	cursor: default !important;
}

html {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 13px;

	background-color: rgba(93, 35, 159, 0.1);
}

html, body {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
	overscroll-behavior-y: none;
	
}

::-webkit-scrollbar {
	width: 11px;
	height: 10px;
}

::-webkit-scrollbar-thumb {
	background-color: rgba(255,255,255.0.5);
	border: 2px solid transparent;
	border-radius: 10px;
	background-clip: padding-box;
}

::-webkit-scrollbar-corner {
	background: rgba(0,0,0,0);
}

::-webkit-scrollbar-track {
	background-color: rgba(128,128,128,0);
} 

/* Credit: https://stackoverflow.com/a/4407335 */
.noselect {
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
.allow-select {
	-webkit-touch-callout: initial; /* iOS Safari */
	-webkit-user-select: initial; /* Safari */
	-khtml-user-select: initial; /* Konqueror HTML */
	-moz-user-select: initial; /* Old versions of Firefox */
	-ms-user-select: initial; /* Internet Explorer/Edge */
	user-select: initial; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}
